.kerning-editor {
  margin: 80px auto;
  max-width: 980px;
}

.kerning-editor__textarea {
  width: 100%;
  max-width: 980px;
  height: 400px;
  padding: 40px 32px;
  font-family: Futura;
  font-size: 60pt;
  letter-spacing: 0.0125em;

  line-height: 1em;
  border: 2px solid whitesmoke;
  font-kerning: none;
}
